@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap'); /*font-family: 'My Soul', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap'); /*font-family: 'Playball', cursive; */

/*
    ****************
    * HOME SECTION *
    ****************
*/

body{
    background-color: #182634 !important;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

.logo-text{
    color: white;
    font-family: "Playball", cursive;
    font-size: 3.5rem;
    margin: 0.3em 0em 0em 1em;
    position: relative;
    z-index: 0;
}

.logo-design{
    background-color: #182634;
    height: .3em;
    width: 5.6em;
    position: absolute;
    transform: rotate(-20deg);
    margin: -2.5em 0em 0em 3.5em !important;
    z-index: 1;
}

.intro-background{
    height: 25em;
    width: 75%;
    text-align: center;
    margin: 3em auto 0 auto;
    box-sizing: border-box;
    box-shadow: 0em 4px 100px 10px rgba(52, 223, 52, 0.67);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.intro-name{
    color: #34df34;
    font-family: 'My Soul', cursive;
    font-size: 3.5rem;
    margin: 0em 1em 0em 1em;
}

.intro-title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1em 1em 0em 1em;
}

/*
    ***************
    * NAV SECTION *
    ***************
*/

.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    position: sticky;
    top: 0px;
    background-color: rgba(24, 38, 52, 1);
    z-index: 99;
}

.nav-splitter-design{
    background-color: white;
    height: .2em;
    width: 10em;
}

nav{
    border: 2px solid white;
    width: 38em;
    height: 6em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.material-symbols-outlined{
    color: #34df34;
    font-size: 250% !important;
    font-variation-settings: 'FILL' 0, 'GRAD' 0, 'wght' 250;
}

.material-symbols-outlined:hover, .material-symbols-outlined:focus{
    cursor: pointer;
}

nav:hover, nav:focus{
    border: 2px solid rgba(255, 255, 255, .4);
}

.section{
    margin: 12em 0em 12em 0em;
}

.section-splitter{
    height: .2em;
    width: 90%;
    background-color: white;
    margin: 0 auto 0 auto; 
}

nav a{
    text-decoration: none;
    color: #34df34;

}

nav a:hover{
    text-decoration: none;
    color: #34df34;
}

nav a p{
    margin-top: 0;
    margin-bottom: 0;
}

/*
    *****************
    * ABOUT SECTION *
    *****************
*/

.about-sub-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photo{
    height: 20em;
    width: 50em;
    border: 1px solid #34df34;
    margin: 0em 3em 0em 3em;
}

.about-passage{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0em 3em 0em 3em;
}
.tags{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 3em 0em 3em 2em;
    opacity: 0.6;
    font-size: 1.5em;
}

/*
    ******************
    * SKILLS SECTION *
    ******************
*/

.skills-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 25em;
}

.skills-container-one, .skills-container-two{
    display: flex;
    justify-content: space-around;
    margin: 1em 1em 1em 1em;
}

.skill-icon{
    color: white;
    font-size: 5.5em;
}

/*
    *******************
    * PROJECT SECTION *
    *******************
*/

.project-details{
    width: 65%;
    margin: 0 auto 0 auto;
}

.collapsible{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    text-align: left;
    padding: 1em;
    margin: 1em 0 0 0;
}

.active, .collapsible:hover{
    background-color: rgba(255, 255, 255, .5);
}

.collapsible:after{
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: "\2212";
}

.content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(255, 255, 255, 1);
    color: #182634 !important;
}

.content-tools{
    color: #34df34;
    font-weight: bold;
    text-transform: uppercase;
}

.content p a{
    text-decoration: none;
    color: #182634;
}

/*
    *******************
    * CONTACT SECTION *
    *******************
*/

.form-controller{
    width: 55%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-icon-content{
    width: 30%;
}

.form-application-content{
    width: 70%;
}

.form-intro{
    font-family: 'Courier New', Courier, monospace;
    color: #34df34;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    width: 60%;
    border: 0;
    color: white;
    background-color: transparent;
    margin: .5em 1em .5em 1em;
    border: 1px solid white;
    border-radius: 15px;
    padding: .3em 1em .3em 1em;
}

.form-btn{
    background-color: transparent;
    border: 1px solid #34df34;
    color: white;
    padding: .5em 1.5em .5em 1.5em;
    border-radius: 15px;
    letter-spacing: .7px;
}

.form-btn:focus, .form-btn:hover{
    color: #182634;
    background-color: rgba(255, 255, 255, .9);
    font-weight: bold;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, 
input[type=text]:hover, input[type=email]:hover, textarea:hover{
    border: 1px solid #34df34;
    outline: none;
}

.linkedin-icon, .github-icon{
    font-size: 5em !important;
    margin: .3em 1em .3em 1em;
}

.form-social-connect{
    display: flex;
    flex-direction: column;
    align-items: center;
}





/*
    **********
    * FOOTER *
    **********
*/

/*
    ***************
    * MEDIA QUERY *
    ***************
*/

@media only screen and (max-width: 780px) {
    .logo-text{
        font-size: 3em;
    }

    .logo-design, .nav-splitter-design{
        display: none;
    }

    .intro-title{
        font-size: 1em;
        margin-top: 2em;
    }

    .about-sub-section{
        flex-direction: column;
    }

    .photo{
        width: 15em;
        height: 15em;
        margin-bottom: 2em;
    }

    .skills-container{
        flex-direction: row;
        height: 35em;
    }

    .skills-container-one, .skills-container-two{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .skill-icon{
        font-size: 4.5em;
    }

    .nav-text{
        font-size: .8em;
        text-align: center;
    }

    nav{
        border-radius: 0%;
    }

    .tags{
        font-size: .8em;
    }

    .form-controller{
        flex-direction: column;
        width: 90%;
    }

    .form-application-content, .form-icon-content{
        width: 100%;
    }
    
}

@media (hover: hover){
    .nav-text{
        display: none;
    }

    nav a:hover > span{
        display: none;
    }

    nav a:hover > .nav-text{
        display: inline;
        padding: 0.5em;
        color: white;
        text-transform: uppercase;
    }
}

