@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap'); /*font-family: 'My Soul', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap'); /*font-family: 'Playball', cursive; */

body{
    background-color: #182634 !important;
    overflow: hidden;
    overflow-y: scroll;
}

.logo-text{
    color: white;
    font-family: "Playball", cursive;
    font-size: 350%;
}

.main-layout{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.intro-full-name{
    color:#34df34;
    font-family: 'My Soul', cursive;
    position: relative;
    box-sizing: border-box;
    font-size: 550%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    padding-top: 8%;
    padding-right: 25% !important;
}

.intro-job-title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 155%;
    animation-delay: 3s;
    animation: semiTextDrop 3s linear;
    position: relative;
    text-transform: uppercase;
    padding-top: 1%;
    
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 92%;
    margin-right: 1%;
    max-width: 100%;
    max-height: 100%;
}

.material-symbols-outlined{
    color: white;
    font-size: 75px !important;
    font-variation-settings: 'FILL' 0, 'GRAD' 0, 'wght' 250;
    padding-bottom: 20%;
}

.material-symbols-outlined:hover{
    color: #34df34;
}

.open-about-me{
    color: rgba(179, 0, 179, 0.7);
    margin-top: 26%;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 130%;
                                                
}

.nav-tags{
    color: rgba(179, 0, 179, 0.7);
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 130%;
}

.about-me-passage{
    color: white;
}

.skills-comtainer{
    margin-top: 15%;
}
